#editorWrapper {
    max-width: 600px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 2px grey;
    margin: 0 auto;
}

#editor {
    width: 99%;
    min-height: 200px;
    resize: vertical;
    outline: none;
    font-size: 0.875rem;
    margin-bottom: -5px;
    padding-left: 5px;
    padding-top: 5px;
}

#previewerWrapper {
    max-width: 800px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 2px grey;
    margin: 0 auto;
}
  
@media screen and (max-width: 650px) {
    #editorWrapper {
      width: 80vw;
      margin: 0 auto;
    }

    #previewerWrapper {
      max-width: 90vw;
    }
}
  
@media screen and (max-width: 800px) {
    #editorWrapper {
      max-width: 550px;
    }

    #previewerWrapper {
      max-width: 650px;
    }
}